<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="purple.team.zerexp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zerexp.NoActionBar">
        <activity
            android:name=".ContrasenaActivity"
            android:exported="false" />
        <activity
            android:name=".CrearCV4Activity"
            android:exported="false" />
        <activity
            android:name=".CrearCV3Activity"
            android:exported="false" />
        <activity
            android:name=".CrearCV2Activity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".CrearCV1Activity"
            android:exported="false" />
        <activity
            android:name=".chat"
            android:exported="false" />
        <activity
            android:name=".empresas_destacadas"
            android:exported="false" />
        <activity
            android:name=".favoritos"
            android:exported="false" />
        <activity
            android:name=".MessagesActivity"
            android:exported="false" />
        <activity
            android:name=".SideBarMenu"
            android:exported="false" />
        <activity
            android:name=".empleos"
            android:exported="false" />
        <activity
            android:name=".Mensajes"
            android:exported="false"
            android:label="@string/title_activity_mensajes" />
        <activity
            android:name=".nuevas_vacantes"
            android:exported="false" />
        <activity
            android:name=".Preguntas_Frecuentes"
            android:exported="false" />
        <activity
            android:name=".FeedActivity"
            android:exported="false" />
        <activity
            android:name=".CompanyProfile"
            android:exported="false" />
        <activity
            android:name=".UserProfile"
            android:exported="false" />
        <activity
            android:name=".RegEmpresaActivity"
            android:exported="false" />
        <activity
            android:name=".RegUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".registrarActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>